html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #3c4761;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-size: 40px;
    padding-bottom: 14px;
    font-weight: 700;
    position: relative;
    margin-bottom: 22px;
    letter-spacing: 4px;
    &::after {
        content: '';
        position: absolute;
        top: 56px;
        right: 481px;
        height: 4px;
        width: 87px;
        background-color: rgb(0, 0, 0);
        opacity: 0.149;
    }
}


